@import '../../assets/scss/color.scss';

.sidebar {
    padding: 15px 10px 30px 30px;

    height: 100vh;
    overflow: auto;

    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .close-menu {
            display: flex;

            div {
                width: 14px;
                height: 14px;
                border-radius: 100%;
                -webkit-border-radius: 100%;
                -moz-border-radius: 100%;
                -ms-border-radius: 100%;
                -o-border-radius: 100%;
                margin: 0 5px;
            }
        }

        .icon {
            font-size: 22px;
            height: fit-content;
            margin-top: 5px;
            color: $grayColorLight;
        }
    }

    .logo-div {
        width: 100%;
        margin-top: 20px;

        img {
            width: 110px;
        }
    }

    .active {
        position: relative;
    }




    .menu {
        margin-top: 10px;

        >p {
            font-size: 10px;
            font-weight: 500;
            margin-top: 15px;
            color: #AEAEAE;
        }



        .item {
            display: flex;
            align-items: center;
            padding: 13px 0;
            font-size: 22px;
            color: $grayColorLight;
            padding-left:  10px;

            p {
                font-size: 12px;
                margin-top: 5px;
                margin-left: 10px;
                font-weight: 500;
            }
        }

        .active {
            color: white;
            background-color: black;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
        }

        margin-bottom: 70px;
    }

    .profile {
        position: fixed;
        background-color: rgb(255, 255, 255);
        bottom: 0;
        left: 0;
        width: 240px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;
        border-top: rgb(212, 212, 212) 2px solid;

        .left {
            display: flex;
            align-items: center;

            img {
                width: 35px;
                height: 35px;
                border-radius: 100%;
                -webkit-border-radius: 100%;
                -moz-border-radius: 100%;
                -ms-border-radius: 100%;
                -o-border-radius: 100%;

            }

            h5 {
                margin-left: 10px;
                color: $grayColorLight;
                font-size: 13px;
                font-weight: 600;
            }
        }

        .right {
            font-size: 20px;
            color: $grayColorLight;
        }
    }
}